<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trash&Change</title>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c29d32ca2b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script th:src="@{js/map.js}"></script>


</head>
<body>
<div class="topnav ">
    <div class="row topnav">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: transparent; border: none; margin-top: 4px;" data-toggle="dropdown">
                <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/tip">DIY Tips</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>
        <div style="margin-top: 9px; margin-bottom: 9px; color: white; margin-left: 17%"><h5>Trash&Change</h5></div>
        <div style="position: absolute; right: 10px; top: 2px;">
            <i class="fas fa-portrait" style="font-size: 36px; background-color: transparent; color: #ffffff; margin-top: 6px;" aria-hidden="true"></i>
        </div>

++    </div>

</div>
<div class="d-flex flex-column">
    <div class="row form-inline" style="padding-left: 0;padding-right: 0;margin: 0;">
        <input type="text" class="col-9 form-control" id="search" placeholder="Search..." style="border-radius: 20px 20px 20px 20px; margin: 5px 5px 0 5px;">
        <button class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
    </div>
    <div class="container-box" th:fragment="datalist">
        <th:block th:each="store,state: ${listStores}">
            <div class="card" th:id="${state}">
                <div class="card-block d-flex flex-row" style="padding: 8px;">
                    <i class="fas fa-store"></i>
                    <div class="col">
                        <input type="hidden" th:value="${store.getId()}" th:id="'id'+${state.index}">
                        <h6 class="card-title" th:id="'title'+${state.index}" th:text="${store.getName()}" style="margin-bottom: 0;">Cửa hàng ABC</h6>
                        <p class="card-text" style="margin-bottom: 0;" th:id="'address'+${state.index}" th:utext="${store.getAddress()}">31 Trần Phú, Đà Nẵng</p>
                        <div class="row">
                            <th:block th:each="tag: ${store.getHashtagList()}">
                                <div class="col-4 col-sm-1">
                                    <span class="badge badge-warning" th:utext="${tag}" >máy ảnh</span>
+ +                               </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>




</div>
<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0_hIYNj_VppfkDzdIAr0E00JQoNNBr70&callback=initMap">
</script>
</body>
</html>
