
#detail-body div.card:nth-child(even) {
    background-color: white;
    color: #000000;}
#detail-body div.card:nth-child(odd) {
    background-color: #ebefef;
    color: #000000;}
.topnav{
    background-color: #002266;
    border-color:#002266;
    margin-right:0;
    margin-left:0;
}
div.card {
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
.margin_left{
    margin-left: 16px;
    margin-right: 16px;
}
.margin_top{
    margin-top: 16px;
}
.p_right{
    text-align: right;
}
.p_left{
    text-align: left;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
#map_storeDetail{
    height: 25%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*// detail*/

.product-box{
    position: relative;
    cursor: pointer;
}
.fa-cart-format{
    font-size: 24px;
    position: relative;
    color: #dc3545;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-w-600{
    font-weight: 600;
}